{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{%- if section.settings.image != blank -%}
  {%- style -%}
  #Hero-{{ section.id }} {
    background-color: black;
    line-height: 0;
  }
  .hero-image {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    object-position: 50% {{ section.settings.image_vertical_alignment }}%;
  }
  {%- endstyle -%}
{% endif %}
<div id="Hero-{{ section.id }}" class="hero hero--content-align-{{ section.settings.desktop_content_alignment }}">
  {%- if section.settings.image == blank -%}
  {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- elsif section.settings.image != blank -%}
    {%-liquid
      assign image_height = 'image-height-' | append: section.settings.image_height
      if section.settings.adapt_height_first_image
        assign original_height = "original_height "
      endif
      assign classes = 'hero-image ' | append: image_height | append: original_height
      -%}
    {{ section.settings.image | image_url: width: 1500 | image_tag:
      loading: 'lazy',
      class: classes,
      alt: section.settings.image.alt | escape
    }}
    {% endif %}
</div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "id": "image",
        "label": "Image",
        "type": "image_picker"
      },
      {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Image overlay opacity",
        "default": 90
      },
      {
        "type": "range",
        "id": "image_vertical_alignment",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Desktop vertical alignment",
        "default": 50
      },
      {
        "id": "image_height",
        "type": "select",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium",
        "label": "Hero height"
      },
      {
        "type": "checkbox",
        "id": "adapt_height_first_image",
        "default": false,
        "label": "Original image height",
        "info": "Overwrites image banner height setting when checked."
      }, 
      {
        "type": "header",
        "content": "Mobile layout"
      },
      {
        "type": "range",
        "id": "image_horizontal_alignment",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Mobile horizoltal alignment",
        "default": 50
      }
    ],
    "presets": [
      {
       "name": "Hero"
      }
    ],
    "templates": ["index"]
  }
{% endschema %}
